<div class="row">
    <h1>Proyectos Realizados</h1>
    <br>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-jg-7 parte1">
            <h3>FronEnd de este Proyecto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore enim, facere accusamus at voluptatem sint, quibusdam maxime nobis hic odio nemo dolorum dicta quasi ipsum distinctio beatae exercitationem optio laboriosam?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://github.com/LucasEsca/Portfolio-FrontEnd" role="button"><img src="/assets/fron.svg" class="img-fluid img-proyecto" ></a> 
        </div>
<br>
        <div class="col-sm-12 col-md-7 col-jg-7 parte1">
            <h3>BackEnd de este Proyecto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore enim, facere accusamus at voluptatem sint, quibusdam maxime nobis hic odio nemo dolorum dicta quasi ipsum distinctio beatae exercitationem optio laboriosam?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <a href="https://github.com/LucasEsca/Portfolio-BackEnd" role="button"><img src="/assets/back.svg" class="img-fluid img-proyecto" ></a> 
        </div>
    </div>
</div>
