<div class="row">

    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" routerLink="/newskill" *ngIf="isLogged">Nueva Skill</button>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress 
        [percent]="(skill.porcentaje)" 
        [radius]="90" [imageSrc]="''" 
        [title]="(skill.nombre)"
        [titleColor]="'#444444'"
        [showTitle]="true" 
        [showImage]="false" 
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false"
        [lazy]="true"
        [unitsColor] = "'#444444'"
        [showSubtitle]="false" 
        [subtitleColor] = "'#A9A9A9'"
        [space] = "-10"
        [radius]="60"
        [backgroundPadding]="5"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [showInnerStroke]="true"
        [showZeroOuterStroke]="true"
        [outerStrokeWidth]="10" 
        [innerStrokeWidth]="10" 
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'" 
        [animation]="true" 
        [animationDuration]="600"
        [outerStrokeGradient]="true"
        >
        
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-secondary btn-rounded" data-mdb-ripple-color="dark" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
</div>