<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="fotoperfil">
        <!--<img src="../../../assets/profile.jpg" class="img-fluid" id="fotoperfil">-->
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p> 
        <!--<p id="nombre">Fair Lucas Ivan</p>-->
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <span>
            <h1>Acerca de mi</h1>
            <p>{{persona.descripcion}}</p>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus at corporis obcaecati commodi fugiat iure dolor placeat harum, aliquam sapiente aliquid iste repudiandae quia suscipit quibusdam consequuntur assumenda ut sequi!</p>-->
        </span>
    </div>
    <div>
        <button type="button" class="btn btn-outline-secondary btn-rounded" data-mdb-ripple-color="dark" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar
        </button>
    </div>
</div>
