<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="fotoperfil">
        <!--<img src="../../../assets/profile.jpg" class="img-fluid" id="fotoperfil">-->
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3> 
        <!--<p id="nombre">Fair Lucas Ivan</p>-->
        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center descripcion">
        <span>
            <h1>Acerca de mi</h1>
            <p>{{persona.descripcion}}</p>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus at corporis obcaecati commodi fugiat iure dolor placeat harum, aliquam sapiente aliquid iste repudiandae quia suscipit quibusdam consequuntur assumenda ut sequi!</p>-->
        </span>
    </div>
    <div>
        <button class="btn btn-default btn-circle btn-lg" style="background-color: #2fac2b;" data-mdb-ripple-color="dark" routerLink="/editacercade/1" *ngIf="isLogged">
            <i class="bi bi-folder-plus"></i>
        </button>
    </div>
</div>
